PORT=
# database 
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
DATABASE_URL=

# ocr 
OCR_PROVIDER=
AZURE_OCR_ENDPOINT=
AZURE_OCR_API_KEY=

# llm
LLM_PROVIDER=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_DEPLOYMENT=

# langfuse
LANGFUSE_ENABLED=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=
